<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario Cliente</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="${mensaje}" />
    <form action="#" th:action="@{/Cliente/nuevo}" th:object="${cliente}" method="post">
    	<p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Nombre: <input type="text" th:field="*{nombre}" /></p>
        <p>Telefono: <input type="text" th:field="*{telefono}" /></p>
        <p>Correo: <input type="text" th:field="*{correo}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>